[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
colorama = "==0.4.1"
Pillow = "==6.1.0"
PyInstaller = "==3.5"

[requires]
python_version = "3.7"
